body {
    font-size: 40px;
    height: 100%
}

table {
    font-size: 40px;
}
td {
    text-align: center;
}

input {
    font-size: 40px;
}

#txtResult {
    width: 150px;
}
#divScore {
    font-size: 50px;
}

.right {		
    border-color: blue;
}
.wrong {
    border-color: red;
}
