
table {
    font-size: 22px;
}
td {
    text-align: center;
}

input {
    font-size: 22px;
}

#txtResult {
    width: 150px;
}
#divScore {
    font-size: 25px;
}

.right {		
    border-color: blue;
}
.wrong {
    border-color: red;
}
